.modalBackground {
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.85);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 750px;
    height: auto;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .container__tittle{
    display: flex;
    flex-direction: row-reverse;
    background: #FFB400;
    width: 100%;
  }

  .form-align{
    justify-content:left;
    text-align:left;
    padding: 10px 50px ;
  }

  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

  
  .modalContainer .title {
    align-self: self-end; 
    padding: 0 20%;
  }
  
  .editForm{
    display: flex;
    padding: 10px;
  }

  .modalContainer .body {
    flex: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #00A6ED;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalContainer #cancelBtn {
    background-color: crimson;
  }
  .body-pass{
    color:black;
  }
  .form-align p{
    margin-right: 10px ;
    margin-bottom: 0px;
  }
  .form-align input{
    width: 200px;
  }
  .padding-bottom{
    padding-bottom: 15px;
  }